name: CI

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp: [25, 26, 27]
    container:
      image: erlang:${{ matrix.otp }}
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Run tests
      run: make eunit
